
.top1 { grid-column: 2; grid-row: 1; border-bottom: none; }
.top2 { grid-column: 3; grid-row: 1; border-bottom: none; }
.top3 { grid-column: 4; grid-row: 1; border-bottom: none; }


.user {
  grid-column: 3;
  grid-row: 3;
  border-top: none;
}

.player {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.playerInfo {
    z-index: 20;
    position: relative;
    margin: auto 0 0 0;
    bottom: 0;
    background: #111727;
    border: 1px solid white;
    color: white;
    border-radius: 9999px;
    padding: 0.5rem 2rem;
    line-height: 1;
}

.name {
    margin: 0;
    font-size: 1.1rem;
}

.bet,
.chips {
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.85;
}

.hand {
    position: relative;
    right: 25%;
    top: 0;
    pointer-events: none;
}

.cardWrapper {
    position: absolute;
}

