#table {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  #table {
    background-image: url("/table.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.table-content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  place-content: center;
  place-items: center;
  padding: 1rem;
  margin: 0;
  height: 50%;
}

.community {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: start;
  margin: 0;
}